@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  max-inline-size: 1440px;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  margin: auto;
}

.card-country{
  min-width: 150px;
}

.grilla{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(180px,1fr)
  );
  gap: 10px;
  align-items: center;
}

.grilla-countries {
  padding-block: 3rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(230px,1fr)
  );
  gap: 4rem;
  align-content: center;
  justify-items: center;
}

.icon-selector {
  transition: all 0.3s ease-in-out;
}

.icon-selector.up {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

@layer components{
  html{
    @apply font-sans text-Very_Dark_Blue_Light_Mode_Text bg-Very_Light_Gray dark:bg-Very_Dark_Blue_bg_dark
  }
  

  #search ion-icon{
    font-size: 24px;
    @apply text-Dark_Gray_Light_inputs dark:text-White
  }
  
  ::placeholder{
    @apply text-Dark_Gray_Light_inputs dark:text-White
  }
}