@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  max-inline-size: 115.8rem;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  margin: auto;
}

@layer components{
  html{
    @apply font-sans text-Very_Dark_Blue bg-Very_Light_Gray
  }

  #search ion-icon{
    font-size: 24px;
    @apply text-Dark_Gray
  }
  
  ::placeholder{
    @apply text-Dark_Gray
  }
}